@model IEnumerable<ListTask.Models.Task>

<table>
    @foreach (var item in Model)
    {
        if (item.TaskIsDone == true)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ToggleDone", new { id=item.TaskID })">
                        @if (item.TaskIsDone)
                        {
                            <span class="glyphicon glyphicon-check"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-unchecked"></span>
                        }
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    : @Html.DisplayFor(modelItem => item.List.ListTitle)
                </td>
                <td>
                    : @Html.DisplayFor(modelItem => item.TaskDueDate)
                </td>
            </tr>
        }
    }

</table>
